.git
.github
.ruff_cache
.vscode

backend/.env.docker
backend/.mypy_cache
backend/.pytest_cache
backend/.ruff_cache
backend/data
backend/logs
backend/var
backend/__pycache__
backend/**/__pycache__

apps/**/.next
apps/**/node_modules
apps/**/tsconfig.tsbuildinfo

external/*
logs
models
matchmaker
matchmaker-demo-main
